<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>NewAngular</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="~/spa-client/browser/styles.css">
        <link rel="icon" type="image/x-icon" href="~/spa-client/browser/favicon.ico">
    </head>
    <body>
        <app-root></app-root>
        <script src="~/spa-client/browser/polyfills.js" type="module" asp-append-version="true"></script>
        <script src="~/spa-client/browser/main.js" type="module" asp-append-version="true"></script>
    </body>
</html>
